@import url('./style/menu.scss');
@import url('./style/button.scss');
@import url('./style/code.scss');
@import url('./style/loading.scss');
@import url('./style/controller.scss');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-black-width: 180px;
  --code-menu-width: calc(var(--button-black-width) + 50px);
  --code-container-height: 40%;
  --code-drag-bar-top: calc(40% - 6px);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#drag-root {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  overflow: hidden;
  background-color: #2f3241;
  z-index: 10000;
}

#app {
  margin: 50px 0 0 0;
  position: fixed;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  text-align: center;
}

ul {
  list-style: none;
}

/* 为整个页面设置滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #3d3d3d; /* 滑块颜色 */
  border-radius: 6px; /* 滑块圆角 */
  border: 3px solid #777777; /* 滑块周围的空白 */
}

/* 滚动条滑块悬停样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 滑块悬停颜色 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #ffffff00; /* 轨道颜色 */
  border-radius: 0; /* 轨道圆角 */
}

/* 滚动条轨道内部可滚动的部分 */
::-webkit-scrollbar-track-piece {
  background-color: #ffffff00; /* 内部可滚动部分的颜色 */
}

/* 滚动条与边框的交角部分 */
::-webkit-scrollbar-corner {
  background-color: #ffffff00; /* 交角部分的颜色 */
}

/* 拖动调整大小的控件 */
::-webkit-resizer {
  background-color: #ffffff00; /* 调整大小控件的颜色 */
}
